* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	color: white;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}

.container-fluid {
	margin: 0 auto;
	width: 100%;
	padding: 0;
	overflow-x: hidden;
}

body.container-fluid#privacy-page, body.container-fluid#reset-password-page, #about-page {
	color: #000!important;.
}

#home .section-content  {
    margin-top: 13rem;
}

#about-page .container-fluid .staff > div {
	margin: 0;
	padding: 0;
}

#about-page .container-fluid .staff {
	  margin: 5rem 5rem 2rem 5rem;
    padding-left: 10.25rem;
		text-align: center;
}

.img-center {
	margin: 0 auto;
}
		
button {
	margin: 1em 0em;
}


/*-------------------------
	The menu
--------------------------*/
.navbar {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; 
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
  width: 100%;
	max-height: 75px;
	padding: 1rem;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: #4a4a4a;
	margin-left: -1rem;
}

#intro-video-still .logo {
	border: 1px solid red!important;
}

.navbar  a  {
  display: inline-block;
	text-decoration: none;
  padding: 0px;
}

.navbar-center {
  width: 70%;
}

.navbar-left {
  width: 15%;
  margin-top: 0px;
  text-decoration: none;
  margin-left: 50px;
}

.navbar-left a {
  float: left;
}

.navbar-right {
  width: 15%;
  margin-right: 50px;
}

.navbar-right a {
  float: right;
}


nav {
 	margin:0 auto;
}


a:hover{
	text-decoration: none;
}


#home header {
	margin-top: 25px;
}

#intro-video {
	display: none;
	margin-top: 4.45rem;
	margin-bottom: -.15rem;
}

.video-wrapper {
	margin-top: 1rem!important;
}

#intro-video, #intro-video iframe {
	width: 100%;
}

#intro-video-still img{
	   display: inline-block;
}

#intro-video-still {
	width:100%;
}

#intro-video-still .text {
	text-transform: uppercase;
	font-size: 2rem;
}

#intro-video-still i {
		margin: 0rem;
	  padding: 0rem;
    font-size: 3.75rem;
    vertical-align: middle;
}

#intro-video-still .text > span {
	margin: 0rem 2.15rem;
}

/******* header intro *******/

.intro-header .img-wrapper {
	position: relative;
	padding-bottom: 20%;
	height: 0;
}

.intro-header .img-wrapper .img-responsive {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*******  colors ********/
.pink {
	color: #e67c7c;
}

.blue {
	color: #3aa19B;
}

.yellow {
	color: #f4ca5c;
}


/***** index sections *****/
.container {
    padding: 0;
    width: 100%;
}

.discover {
		margin-top: -1.25rem;
}

.discover .section-content, .relax .section-content {
	margin-left: 12rem;
}

.reserve .section-content, .join .section-content {
	margin-left: 0rem;
	margin-right: 12rem;
}

section {
	margin-bottom: .25rem;
}

.section-content p {
	margin: 2rem 0rem;
}

.section-content input {
	   margin: 0rem 0rem 2.5rem 0rem;
		width: 75%;
}

.discover .container, .join .container {
	    background-color: #e67c7c;
}

.reserve .container {
	background-color: #3aa19B;
}

.relax .container {
	background-color: #f4ca5c;
}



/*****  helpers ********

/***** row & column center ********/
.col-centered {
    float: none;
    margin: 0 auto;
    position: relative;
}

.vcenter {
    position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*****clear ********/
.clear {
	clear: both;
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

.nomargin-nopadding {
	padding: 0;
	margin: 0;
}

.center {
	margin: 0 auto;
}

/********************    footer    *****************/

footer {
	padding: 2rem 0rem .75rem;
	background-color: #4a4a4a;
	color: white;
}

footer .row {
	text-align: center;
}

.foot-header {
	color: white;
	font-size: 1rem;
	font-weight: bold;
	padding-bottom: .75rem;
}

.foot-links a{
	display: block;
	color: white;
	padding: .5rem 0rem;
}

.foot-links  a:hover, .social-icons a:hover {
	text-decoration: none;
	color: #7d7c82;
}

.social-icons {
	margin-bottom: .50rem;
	margin-top: 1rem;
}

.social-icons > a {
	margin: 1rem;
	color: white;
}

.social-icons > a > i {
	font-size:24px;
}

.copyright {
	font-size: 12px;
}

/*********	buttons			***********/
		
a.btn, button.btn {
    color: white;
    background-color: transparent;
		border: 1px solid white!important;
		border-radius: 2px;
  	text-transform: uppercase;
  	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a.btn:hover, button.btn:hover {
	color: black;
	background-color: white;
	font-weight: 400;
}

.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.join a.btn:hover, .discover a.btn:hover, button.btn:hover {
	color: #e67c7c;
}

.reserve a.btn:hover {
	color: #3aa19b;
}

.relax a.btn:hover {
	color: #f4ca5c;
}

.join a.btn { padding: .5rem 2rem; }

input {
	border-radius: 2px;
}

#reset-password-page button.btn {
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
  	background-color: white;
  	color: #e67c7c;
	border: 1px solid #e67c7c!important;
	border-radius: 2px;
  	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#reset-password-page button.btn:hover {
	color: white;
	background-color: #e67c7c;
	font-weight: bold;
}

#reset-password-page form {
	text-align: center;
	font-size: 14px;
	margin: 3rem auto 4rem auto;
}

#reset-password-page form  .container {
	margin-left: -10.5rem;
	margin-top: 3rem;
	padding-bottom: 1px;
}

#reset-password-page form p {
	color: #4a4a4a;
}

#reset-password-page .form-group {
    margin: 2rem;
}

#reset-password-page .form-group label {
    display: inline-block;
    margin-bottom: .5rem;
    padding-top: .50rem;
    padding-right: 1.5rem;
    width: 50%;
    float: left;
    text-align: right;
    color: #e67c7c;
    font-weight: bold;
}

#reset-password-page button.btn {
    margin-top: 3.5rem;
}

#reset-password-page .form-group input {
    display: inline-block;
    margin-bottom: .5rem;
    width: 33%;
    float: left;
}

section.row h2 {
	margin-bottom: 1rem;
	letter-spacing: 2px;
}

/* needs a mobile media query*/
section.row .container-fluid {
	  margin: 3rem 3rem 0rem 15rem;
    text-align: justify;
}

#reset-password-page {
	font-color: black!important;
}

.img-wrapper img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section.row .container {
	margin-top: 0rem;
}

section.row {
	margin-top: .25rem;
}

#privacy-page main.container-fluid, #terms-page main.container-fluid {
	padding: 0rem;
  text-align: justify!important;
	color: #000;
}

#privacy-page  h4, #terms-page h4 {
	color: #4a4a4a;
	margin: 1rem 0rem;
	font-size: 1.25rem;
	font-weight: bold;
}

.container-fluid > .container-fluid > section {
    padding: 2rem;
}

#privacy-page .address {
	margin-top: .5rem;
}

.img-wrapper {
	max-width:100%;
  	margin:4rem auto 0 auto;
  	position: relative;
}

.img-wrapper .text {
	width: 100%;	
  	position: absolute;
  	top:50%;
  	left:0;
  	padding:1rem;
  	transform:translateY(-50%);
	font-size: 3rem;
  	text-align: center;
	letter-spacing: 3px;
	color: white;
}

#contact-page main .row {
	font-weight: bold;
	letter-spacing: 1px;
}

#contact-page main.container-fluid {
	margin: 5rem auto;
} 

.contact-labels {
    float: right;
}

.contact-labels title {
    display: block;
    font-size: 1rem;
    margin: .75rem;
    color: #5bb3a8;
    text-align: right;
}

.contact-email a {
    display: block;
    margin: .75rem;
    color: #4a4a4a;
}

.contact-email a:hover {
    text-decoration: none;
    color: #4a4a4a;
}


.staff .img-responsive {
	margin: 0 auto;
}


img caption {
	display: block;
}